.painelCentralM {
  position: fixed;
  width: 1000px;
  height: 556px;
  top: 90px;
  background: #06446b;
  left: 335px;
  border-radius: 5px;
  transition: 0.6s;
}
.painelCentralM.active {
  width: 1236px;
  left: 105px;
}
.card {
  position: relative;
  width: 660px;
  height: 410px;
  left: 160px;
  top: 50px;
  font-weight: bold;
}
.agendaText{
  position: relative;
  left: 380px;
  top: 30px;
  font-size: 36px;
  font-family: "Voltaire", sans-serif;
  color: #fff;
}
.disabled {
  cursor: not-allowed;
  margin-left: 30px;
}
