.painelCentral {
  position: fixed;
  width: 1000px;
  height: 556px;
  background: #06446b;
  left: 335px;
  border-radius: 5px;
  transition: 0.6s;
}
.card {
  height: 80vh;
}

.disabled {
  cursor: not-allowed;
}
