<div class="home" id="home">
  <div class="homeText" id="homeText">Sua Agenda da Semana</div>
  <div class="fundo">
    <table class="table table-striped table-hover" style="width: 100%">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Telefone</th>
          <th>Dia</th>
          <th>Hora</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let agenda of agendaList">
          <td>{{ agenda.nome }}</td>
          <td>{{ agenda.telefone }}</td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
