<body>
  <div class="container">
    <div class="navigation">
      <ul>
        <li>
          <a class="logo" href="#">
            <span class="icon">
              <img
                src="./../../../assets/img/logoPortas.png"
                alt="mini-Logo"
                width="50"
                height="80"
              />
            </span>
            <span class="title p">Portas Abertas</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="icon"><i class="fa fa-home"></i></span>
            <span class="title">Início</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="icon"><i class="far fa-calendar-check"></i></span>
            <span class="title">Agendar</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="icon"><i class="far fa-calendar-times"></i></span>
            <span class="title">Desmarcar</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="icon"><i class="fas fa-desktop"></i></span>
            <span class="title">Status</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="icon"><i class="fas fa-database"></i></span>
            <span class="title">Banco de Dados</span>
          </a>
        </li>
        <!-- <li>
          <a href="#">
            <span class="icon"><i class="fas fa-users-cog"></i></span>
            <span class="title">Admin</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="icon"><i class="fas fa-cogs"></i></span>
            <span class="title">Configurações</span>
          </a>
        </li> -->
        <li (click)="logout()">
          <a>
            <span class="icon"><i class="fas fa-sign-out-alt"></i></span>
            <span class="title">Sair</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</body>
