<header>
  <nav>
    <ul class="nav-logo">
      <img
        src="./../../../assets/img/logoPortas.png"
        alt="mini-Logo"
        width="50"
        height="80"
      />
      <a class="logo" href="/">PORTAS ABERTAS</a>
    </ul>
    <ul class="nav-list">
      <li><a routerLink="">Início</a></li>
      <li><a href="#sobre">Sobre</a></li>
      <li><a href="#contato">Contato</a></li>
      <li><a routerLink="/login">Parceiros</a></li>
      <li><a class="active" routerLink="/cadastro-paciente">Cadastre-se</a></li>
    </ul>
  </nav>
</header>
<main>
  <section class="pageCad">
    <div class="container">
      <header class="p1">Portas Abertas</header>
      <div class="form-outer">
        <form action="#">
          <div class="page pageOne">
            <div class="imgTitle">
              <img
                src="../../../assets/img/logoPortas.png"
                width="400"
                height="400"
              />
            </div>
            <div class="title">
              <h1 class="h1">Vamos Começar!</h1>
            </div>
            <div class="field nextBtn">
              <button type="button" (click)="test()" class="inicia">
                Iníciar
              </button>
            </div>
          </div>

          <div class="page pageTwo">
            <div class="title q2">
              <p>
                Está procurando atendimento para<br />
                você mesmo?
              </p>
            </div>
            <div class="field btns qB2">
              <button class="yes" type="button">Sim, para mim</button>
              <button class="no" type="button">Não, outra pessoa</button>
            </div>
          </div>

          <div class="page pageThree">
            <div class="q3 info1">
              <label>Nome:</label>
              <input type="text" [formControl]="form.controls['nome']" />
            </div>

            <div class="q3 info2">
              <label>Data de Nascimento:</label>
              <input
                type="date"
                [formControl]="form.controls['dataNascimento']"
              />
            </div>

            <div class="q3 info3">
              <label>Gênero:</label>
              <input type="text" [formControl]="form.controls['genero']" />
            </div>
            <div class="q3 info4">
              <button class="backInfo" type="button">Voltar</button>
              <button class="nextInfo" type="button">Próximo</button>
            </div>
          </div>

          <div class="page pageFour">
            <div class="q4 end">
              <label for="cep">Cep:</label>
              <input
                type="text"
                name="cep"
                id="cep"
                [formControl]="form.controls['cep']"
              />
            </div>
            <div class="q4 end2">
              <label for="endereço">Endereço:</label>
              <input
                type="text"
                name="endereço"
                id="endereço"
                [formControl]="form.controls['endereco']"
              />
            </div>
            <div class="q4 end3">
              <label for="numero">Número:</label>
              <input
                type="text"
                name="numero"
                id="numero"
                [formControl]="form.controls['numero']"
              />
            </div>
            <div class="q4 end4">
              <label for="bairro">Bairro:</label>
              <input
                type="text"
                name="bairro"
                id="bairro"
                [formControl]="form.controls['bairro']"
              />
            </div>
            <div class="q4 end5">
              <label for="cidade">Cidade:</label>
              <input
                type="text"
                name="cidade"
                id="cidade"
                [formControl]="form.controls['cidade']"
              />
            </div>
            <div class="q4 end6">
              <label for="estado">Estado:</label>
              <input
                type="text"
                name="estado"
                id="estado"
                [formControl]="form.controls['estado']"
              />
            </div>
            <div class="q4 end7">
              <button class="backEnd" type="button">Voltar</button>
              <button class="nextEnd" type="button">Próximo</button>
            </div>
          </div>

          <div class="page pageFive">
            <div class="q5 cont">
              <label>E-mail:</label>
              <input type="text" [formControl]="form.controls['email']" />
            </div>
            <div class="q5 cont2">
              <label>Telefone com DDD (WhatsApp):</label>
              <input type="text" [formControl]="form.controls['telefone']" />
            </div>
            <div class="q5 cont3">
              <label>Outro telefone com DDD:</label>
              <input
                type="text"
                [formControl]="form.controls['outroTelefone']"
              />
            </div>
            <div class="q5 cont4">
              <button class="backCont" type="button">Voltar</button>
              <button class="nextCont" type="button">Próximo</button>
            </div>
          </div>

          <div class="page pageSix">
            <div class="q6 esc">
              <label>Profissão:</label>
              <input type="text" [formControl]="form.controls['profissao']" />
            </div>
            <div class="q6 esc2">
              <label class="label">Escolaridade:</label>
              <input
                type="text"
                [formControl]="form.controls['escolaridade']"
              />
            </div>
            <div class="q6 esc3">
              <label class="label">Como você nos conheceu?</label>
              <input
                type="text"
                [formControl]="form.controls['conhecimento']"
              />
            </div>
            <div class="q6 esc4">
              <button class="backEsc" type="button">Voltar</button>
              <button class="nextEsc" type="button">Próximo</button>
            </div>
          </div>

          <div class="page pageSeven">
            <div class="q7 txt">
              <p>
                Tem algo que queira nos dizer nesse<br />
                momento? (Esse espaço é aberto para<br />
                que você possa falar o que quiser e que<br />
                poderá guiar nossa primeira conversa ao<br />
                entrar em contato com você.)
              </p>
            </div>
            <div class="q7 txt2">
              <textarea
                name="message"
                id="message"
                placeholder="Escreva sua mensagem"
                [formControl]="form.controls['comentario']"
              ></textarea>
            </div>
            <div class="q7 txt3">
              <button class="backTxt" type="button">Voltar</button>
              <button
                (click)="cadastrarPaciente()"
                class="nextTxt"
                type="button"
              >
                Finalizar
              </button>
            </div>
          </div>

          <div class="page pageFinal">
            <div class="q8 fin">
              <h1>Cadastro Realizado com sucesso!</h1>
            </div>
            <div class="q8 fin2">
              <i class="fas fa-hourglass-end"></i>
            </div>
            <div class="q8 fin3">
              <p>
                Em breve entraremos em contato com você<br />
                para marca os próximos passos!
              </p>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
</main>
