<header>
  <nav>
    <ul class="nav-logo">
      <img
        src="./../../../assets/img/logoPortas.png"
        alt="mini-Logo"
        width="50"
        height="80"
      />
      <a class="logo" href="/">PORTAS ABERTAS</a>
    </ul>
    <ul class="nav-list">
      <li><a routerLink="">Início</a></li>
      <li><a href="#sobre">Sobre</a></li>
      <li><a href="#contato">Contato</a></li>
      <li><a routerLink="/login">Parceiros</a></li>
      <li><a class="active" routerLink="/cadastro">Cadastre-se</a></li>
    </ul>
  </nav>
</header>
