<header>
  <nav>
    <ul class="nav-logo">
      <img
        src="./../../../assets/img/logoPortas.png"
        alt="mini-Logo"
        width="50"
        height="80"
      />
      <a class="logo" href="/">PORTAS ABERTAS</a>
    </ul>
    <ul class="nav-list">
      <li><a href="/">Início</a></li>
      <li><a href="#sobre">Sobre</a></li>
      <li><a href="/">Contato</a></li>
      <li><a href="/">Parceiros</a></li>
      <li><a class="active" href="/">Cadastre-se</a></li>
    </ul>
  </nav>
</header>
<main>
  <section class="home">
    <div class="img-porta">
      <img
        class="logoP"
        src="./../../../assets/img/logoPortas.png"
        alt="mini-Logo"
        width="600"
        height="700"
      />
    </div>
    <div class="txt-porta">
      <h1>Portas Abertas</h1>
      <h4>Por uma Psicologia Acessível</h4>
      <p>Atendimento Clínicos On-line</p>
      <a class="active" href="/">Cadastre-se</a>
      <img src="../../../assets/img/wave.png" />
    </div>
  </section>
  <section id="sobre" class="sobre">
    <div class="sobre-txt">
      <h1 class="titulo-sobre">Sobre</h1>
    </div>
    <div class="borda-sobre"></div>
    <div class="txt-sobre">
      <h3>
        Harry Potter é uma série de sete romances de fantasia escrita pela
        autora britânica J. K. Rowling. A série narra as aventuras de um jovem
        chamado Harry James Potter,<br />
        que descobre aos 11 anos de idade que é um bruxo ao ser convidado para
        estudar na Escola de Magia e Bruxaria de Hogwarts.<br />
        O arco de história principal diz respeito às amizades de Harry com
        outros bruxos de sua idade, como Ronald Weasley e Hermione Granger, e
        também com o diretor de Hogwarts<br />
        Albus Dumbledore, considerado o maior dos magos, e seus conflitos com o
        bruxo das trevas Lord Voldemort, que pretende se tornar imortal,
        conquistar o mundo dos bruxos,<br />
        subjugar as pessoas não-mágicas e destruir todos aqueles que estão em
        seu caminho, especialmente Harry Potter, a quem ele considera seu maior
        rival.
      </h3>
      <br /><br /><br />
    </div>
    <div class="grups">
      <div class="grup-hiago">
        <div class="hiago">
          <br>
          <h1>Hiago de Carvalho</h1>
          <br>
          <div class="img">
            <img
              class="grup-img"
              src="../../../assets/img/Hiago.jpeg"
              width="150"
              height="150"
            />
          </div>
          <h3>CRP 02/21624</h3>
          <br>
          <p>
            Olá! Sou Hiago de Carvalho, formado em<br> 
            Psicologia pela UFPE em 2018. Atualmente<br> 
            atuo na clínica, atendendo adolescentes e<br>
            adultos de forma remota.
            Fazer parte da iniciativa Portas Abertas<br>
            é muito importante e gratificante, pois<br>
            vai de encontro a um desejo antigo,<br>
            fomentado na universidade, de contribuir<br> 
            para que a Psicologia possa ser ofertada<br>
            às pessoas, independentemente da barreira<br> 
            financeira que as impede de ter acesso.<br>
            É nosso dever profissional estar atento 
            a essas questões e sempre lembrar-se da<br>
            responsabilidade social de nossa profissão.<br>
          </p>
          <br>
        </div>
      </div>
      <div class="grup-gina">
        <div class="gina">
          <br>
          <h1>Géssica Amorim</h1>
          <br>
          <div class="img">
            <img
              class="grup-img"
              src="../../../assets/img/Gessica.jpeg"
              width="150"
              height="150"
            />
          </div>
          <h3>CRP 02/19050</h3>
          <br>
          <p>
            Oi, Sou Géssica Amorim, Psicóloga Formada em<br>
            2016 pela UFPE, atualmente trabalho com<br>
            atendimentos clínicos presenciais e online,<br>
            avaliação e reabilitação infantil e Orientação<br>
            Vocacional, fundar e fazer parte do Portas<br>
            Abertas pra mim, faz parte de assumir uma<br>
            responsabilidade social para a qual minha<br>
            profissão me abriu os olhos, sabendo da<br>
            importância da psicoterapia e desejando<br>
            democratizar seus acesso. A iniciativa Portas<br>
            abertas  é um sonho nosso que se torna realidade<br>
            para nós e um convite a você que tem o<br>
            acompanhamento psicológico impedido por<br>
            questões financeiras a iniciar esse processo<br>
            de investimento em si mesmo!
          </p>
        </div>
      </div>
      <div class="grup-ron">
        <div class="ron">
          <br>
          <h1>Diego H. Barbosa</h1>
          <br>
          <div class="img">
            <img
              class="grup-img"
              src="../../../assets/img/Diego.jpeg"
              width="150"
              height="150"
            />
          </div>
          <h3>CRP 02/19801</h3>
          <br>
          <p>
            Oi! Meu nome é Diego H. Barbosa. Psicólogo<br>
            formado desde 2017. Atualmente desenvolvo<br>
            meus atendimentos em e de Caruaru e Recife-PE.<br>
            Fundamentado pela Abordagem Centrada na<br>
            Pessoa, ACP, vejo a iniciativa Portas<br>
            Abertas como mais uma possibilidade de fazer<br>
            a psicologia alcançar ainda mais pessoas<br>
            e lugares, no intuito a contribuir para um<br>
            exército da profissão em seus parâmetros<br>
            éticos e científicos, mas sem deixar de lado<br>
            o acesso e cuidado para com aqueles que<br>
            necessitem do nosso trabalho nos mais<br>
            diversos contextos e realidades.
          </p>
          <br><br>
        </div>
      </div>
      <div class="grup-hermione">
        <div class="hermione">
          <br>
          <h1>Janaide Araújo</h1>
          <br>
          <div class="img">
            <img
              class="grup-img"
              src="../../../assets/img/Jane.jpeg"
              width="150"
              height="150"
            />
          </div>
          <h3>CRP 06/155379</h3>
          <br>
          <p>
            Olá, meu nome é Janaide Araújo, sou<br>
            psicóloga desde 2016 e atualmente moro<br>
            em São Paulo. Os meus atendimentos são<br>
            fundamentados na Abordagem Centrada na<br>
            Pessoa e o desejo de contribuir para a<br>
            universalização do acesso a psicoterapia<br>
            habitava em mim ainda nos tempos da faculdade.<br>
            Foi e está sendo gratificante ver uma vontade<br>
            tomando forma e chegando onde precisa.
          </p>
          <br><br><br><br><br>
        </div>
      </div>
      <img class="wave" src="../../../assets/img/wave_invertido.png" width="100%">
    </div>
  </section>
  <section id="contato" class="contato">

  </section>
</main>
