*{
  margin: 0;
  padding: 0;
}
header {
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
}
a {
  color: #06446b;
  text-decoration: none;
  transition: 0.3s;
}
a:hover {
  opacity: 0.7;
}
.logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, Helvetica, sans-serif;
  background: #fff;
  height: 8vh;
  text-shadow: 0 0 3px white;
  font-size: 18px;
  font-family: "Voltaire", sans-serif;
}
.home {
  background: #06446b;
  background-size: cover;
  height: 92vh;
}
.nav-logo,
.nav-list {
  list-style: none;
  display: flex;
}
.nav-logo {
  margin-left: -150px;
}
.nav-list {
  margin-right: -150px;
}
.nav-logo a {
  letter-spacing: 3px;
  margin-top: 23px;
}
.nav-list li {
  letter-spacing: 3px;
  margin: 10px;
}
@keyframes fade {
  to {
    opacity: 1;
  }
}
.logoP {
  animation: fade 3s ease-in-out forwards;
  opacity: 0;
}
.txt-porta h1,
.txt-porta h4,
.txt-porta p,
.txt-porta a {
  animation: fade 6s ease-in-out forwards;
  opacity: 0;
}
.nav-list li a.active {
  text-decoration: none;
  color: white;
  padding: 2px 5px;
  text-transform: uppercase;
  display: inline-block;
  text-shadow: 0 0 3px #00bfff;
}
.nav-list li a.active {
  background: #06446b;
  border-radius: 5px;
}
.nav-list li a.active:hover {
  color: #00ced1;
}
.img-porta {
  position: relative;
  margin-left: 100px;
}
@media (max-width: 1088px) {
  .img-porta {
    margin-left: 10px;
  }
}
.txt-porta {
  margin-top: -540px;
  margin-left: 750px;
  color: #fff;
}
@media (max-width: 1088px) {
  .txt-porta {
    margin-left: 600px;
  }
}
.txt-porta h1 {
  position: relative;
  font-size: 80px;
  margin-left: -80px;
}
.txt-porta h1,
.txt-porta h4 {
  font-family: "Voltaire", sans-serif;
}
.txt-porta h4 {
  position: relative;
  font-size: 30px;
  margin-left: -26px;
}
.txt-porta p {
  position: relative;
  font-size: 18px;
  margin-left: 34px;
  margin-top: 12px;
}
.txt-porta a.active {
  text-decoration: none;
  padding: 2px 5px;
  position: relative;
  background: #fff;
  border-radius: 5px;
  font-size: 28px;
  font-family: "Voltaire", sans-serif;
  text-transform: uppercase;
  display: inline-block;
  margin-left: 70px;
  top: 50px;
  text-shadow: 0 0 3px #00bfff;
}
.txt-porta a.active:hover {
  color: #000080;
}
.txt-porta img {
  content: "";
  position: absolute;
  bottom: 50px;
  left: 0px;
  width: 100%;
  height: 110px;
}
.sobre-txt {
  text-align: center;
  margin-top: 140px;
  font-family: "Voltaire", sans-serif;
  font-size: 30px;
  color: #06446b;
}
.borda-sobre {
  width: 160px;
  height: 2px;
  background: #06446b;
  margin: 40px auto;
}
.txt-sobre {
  text-align: center;
  font-family: "Voltaire", sans-serif;
  color: #06446b;
}
.grups {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.grup-hiago,
.grup-gina,
.grup-ron {
  display: flex;
  flex-direction: column;
  background: #06446b;
  width: 290px;
  border-radius: 10px;
  margin-right: 20px;
}
.grup-hermione {
  display: flex;
  flex-direction: column;
  background: #06446b;
  width: 290px;
  border-radius: 10px;
}
.hiago,
.gina,
.ron,
.hermione {
  text-align: center;
  justify-content: center;
}
.hiago h1,
.gina h1,
.ron h1,
.hermione h1 {
  font-family: "Voltaire", sans-serif;
  color: white;
}
.hiago img,
.gina img,
.ron img,
.hermione img {
  border-radius: 80px;
}
.hiago h3,
.gina h3,
.ron h3,
.hermione h3{
  font-family: "Voltaire", sans-serif;
  color: white;
}
.hiago p,
.gina p,
.ron p,
.hermione p {
  font-family: "Voltaire", sans-serif;
  color: white;
}
.wave {
  content: "";
  position: relative;
  bottom: -110px;
  left: 0px;
  height: 110px;
}
.contato {
  background: #06446b;
  height: 690px;
}
.contato-txt {
  position: relative;
  text-align: center;
  font-family: "Voltaire", sans-serif;
  font-size: 30px;
  top: 70px;
  color: white;
}
.borda-contato {
  position: relative;
  width: 160px;
  height: 2px;
  background: white;
  margin: 40px auto;
  top: 60px;
}
.form-contato{
  background: #000080;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 420px;
  border-radius: 10px;
  bottom: -80px;
  margin-left: 280px;
  align-items: center;
  text-align: center;
}
.contato form{
  width: 100%;
  max-width: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding-right: 1rem;
  padding-left: 1rem;
}
.contato form label,
.contato form input,
.contato form textarea{
    display: block;
    width: 100%;
    height: 9px;
}
.contato form label {
  color: #fff;
  line-height: 1;
  margin-bottom: 1rem;
}
.contato form input,
.contato form textarea {
font: inherit;
padding: 0.8rem;
margin-bottom: 1rem;
border: 1px solid transparent;
border-radius: 8px;
transition: border-color, box-shadow 0.2s;
}

.contato form textarea {
height: 120px;
resize: vertical;
}

.contato form input:hover,
.contato form input:focus,
.contato form textarea:hover,
.contato form textarea:focus {
outline: none;
border-color: #09d;
box-shadow: 0 0 0 3px #4dc8ff;
}

.contato form button {
  position: relative;
  background: #0072c4;
  color: #fff;
  font: inherit;
  text-align: center;
  text-transform: uppercase;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
  height: 40px;
  width: 80px;
}

.contato form button:hover,
.contato form button:focus {
outline: none;
background: #09d;
}
.contato p{
  max-width: 600px;
  margin: 15px auto;
  line-height: 1.4;
  letter-spacing: 2px;
}
.cont-txt{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 400px;
  border-radius: 10px;
  bottom: 320px;
  margin-left: 680px;
  align-items: center;
  text-align: center;
}
.contato h1,
.contato h2,
.contato h3{
  font-family: "Voltaire", sans-serif;
  color: #fff;
}
.contato h1{
  font-size: 42px;
}
.contato h2{
  font-size: 36px;
}
.contato h3{
  font-size: 24px;
}
.row a{
  position: relative;
  bottom: -20px;
  color: #fff;
  font-size: 40px;

}
.what{
  margin-right: 20px;
}
.arrow-btn{
  position: relative;
  bottom: 180px;
  margin-left: 34.1cm;
  background: #fff;
  width: 48px;
  height: 44px;
  align-items: center;
  text-align: center;
}
.arrow-btn a{
  color: #000080;
  font-size: 36px;
}
.copy{
  margin-top: -5.6cm;
  margin-left: -19cm;
  color: #fff;
  font-size: small;
}
.mozila{
  margin-top: -8cm;
}

