<header>
  <nav>
    <ul class="nav-logo">
      <img
        src="./../../../assets/img/logoPortas.png"
        alt="mini-Logo"
        width="50"
        height="80"
      />
      <a class="logo" href="/">PORTAS ABERTAS</a>
    </ul>
    <ul class="nav-list">
      <li><a href="/">Início</a></li>
      <li><a href="#sobre">Sobre</a></li>
      <li><a href="/">Contato</a></li>
      <li><a href="/">Parceiros</a></li>
      <li><a class="active" href="/">Cadastre-se</a></li>
    </ul>
  </nav>
</header>
<main>
  <section class="home">
    <div class="img-porta">
      <img
        class="logoP"
        src="./../../../assets/img/logoPortas.png"
        alt="mini-Logo"
        width="600"
        height="700"
      />
    </div>
    <div class="txt-porta">
      <h1>Portas Abertas</h1>
      <h4>Por uma Psicologia Acessível</h4>
      <p>Atendimento Clínicos On-line</p>
      <a class="active" href="/">Cadastre-se</a>
      <img src="../../../assets/img/wave.png" />
    </div>
  </section>
  <section id="sobre" class="sobre">
    <div class="sobre-txt">
      <h1 class="titulo-sobre">Sobre</h1>
    </div>
    <div class="borda-sobre"></div>
    <div class="txt-sobre">
      <h3>
        Harry Potter é uma série de sete romances de fantasia escrita pela
        autora britânica J. K. Rowling. A série narra as aventuras de um jovem
        chamado Harry James Potter,<br />
        que descobre aos 11 anos de idade que é um bruxo ao ser convidado para
        estudar na Escola de Magia e Bruxaria de Hogwarts.<br />
        O arco de história principal diz respeito às amizades de Harry com
        outros bruxos de sua idade, como Ronald Weasley e Hermione Granger, e
        também com o diretor de Hogwarts<br />
        Albus Dumbledore, considerado o maior dos magos, e seus conflitos com o
        bruxo das trevas Lord Voldemort, que pretende se tornar imortal,
        conquistar o mundo dos bruxos,<br />
        subjugar as pessoas não-mágicas e destruir todos aqueles que estão em
        seu caminho, especialmente Harry Potter, a quem ele considera seu maior
        rival.
      </h3>
      <br /><br /><br />
    </div>
    <div class="grups">
      <div class="grup-hiago">
        <div class="hiago">
          <h1>Harry Potter</h1>
          <div class="img">
            <img
              class="grup-img"
              src="../../../assets/img/hp.jpg"
              width="150"
              height="150"
            />
          </div>
          <p>
            Harry Potter é uma série de sete romances <br />
            de fantasia escrita pela autora britânica<br />
            J. K. Rowling. A série narra as aventuras<br />
            de um jovem chamado Harry James Potter, que<br />
            descobre aos 11 anos de idade que é um bruxo<br />
            ao ser convidado para estudar na Escola de Magia<br />
            e Bruxaria de Hogwarts
          </p>
        </div>
      </div>
      <div class="grup-gina">
        <div class="gina">
          <h1>Gina Weasley</h1>
          <div class="img">
            <img
              class="grup-img"
              src="../../../assets/img/Gina.jpg"
              width="150"
              height="150"
            />
          </div>
          <p>
            Harry Potter é uma série de sete romances <br />
            de fantasia escrita pela autora britânica<br />
            J. K. Rowling. A série narra as aventuras<br />
            de um jovem chamado Harry James Potter, que<br />
            descobre aos 11 anos de idade que é um bruxo<br />
            ao ser convidado para estudar na Escola de Magia<br />
            e Bruxaria de Hogwarts
          </p>
        </div>
      </div>
      <div class="grup-ron">
        <div class="ron">
          <h1>Ronald Weasley</h1>
          <div class="img">
            <img
              class="grup-img"
              src="../../../assets/img/ron.jpg"
              width="150"
              height="150"
            />
          </div>
          <p>
            Harry Potter é uma série de sete romances <br />
            de fantasia escrita pela autora britânica<br />
            J. K. Rowling. A série narra as aventuras<br />
            de um jovem chamado Harry James Potter, que<br />
            descobre aos 11 anos de idade que é um bruxo<br />
            ao ser convidado para estudar na Escola de Magia<br />
            e Bruxaria de Hogwarts
          </p>
        </div>
      </div>
      <div class="grup-hermione">
        <div class="hermione">
          <h1>Hermione Granger</h1>
          <div class="img">
            <img
              class="grup-img"
              src="../../../assets/img/Hermione.jpg"
              width="150"
              height="150"
            />
          </div>
          <p>
            Harry Potter é uma série de sete romances <br />
            de fantasia escrita pela autora britânica<br />
            J. K. Rowling. A série narra as aventuras<br />
            de um jovem chamado Harry James Potter, que<br />
            descobre aos 11 anos de idade que é um bruxo<br />
            ao ser convidado para estudar na Escola de Magia<br />
            e Bruxaria de Hogwarts
          </p>
        </div>
      </div>
    </div>

    <br /><br /><br /><br />
  </section>
  <section></section>
</main>
