*{
    margin: 0;
    padding: 0;
  }
  header {
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
  }
  a {
    color: #06446b;
    text-decoration: none;
    transition: 0.3s;
  }
  a:hover {
    opacity: 0.7;
  }
  .logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
  }
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, Helvetica, sans-serif;
    background: #fff;
    height: 8vh;
    text-shadow: 0 0 3px white;
    font-size: 18px;
    font-family: "Voltaire", sans-serif;
  }
.nav-logo,
.nav-list {
  list-style: none;
  display: flex;
}
.nav-logo {
  margin-left: -150px;
}
.nav-list {
  margin-right: -150px;
}
.nav-logo a {
  letter-spacing: 3px;
  margin-top: 23px;
}
.nav-list li {
  letter-spacing: 3px;
  margin: 10px;
}
.nav-list li a.active {
  text-decoration: none;
  color: white;
  padding: 2px 5px;
  text-transform: uppercase;
  display: inline-block;
  text-shadow: 0 0 3px #00bfff;
}
.nav-list li a.active {
  background: #06446b;
  border-radius: 5px;
}
.nav-list li a.active:hover {
  color: #00ced1;
}
